body { font-family:arial; font-size:70%; }
th { padding-left:5px; padding-right:5px; color:#f5dd90; text-align:center;font-size: 15px;border-top: solid 2px white;}
td { padding-left:5px; padding-right:5px; }
